.card__wrapper_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-wrapper {
  flex: 0 1 auto;
}

app-task-list {
  position: sticky;
  top: 80px;
  width: 100%;
  z-index: 4;
}
