.wrapper {
  display: flex;
  border: 1px solid green;
  justify-content: center;
  app-add-card, app-task-list{
    flex: 1 1 auto;
    width: 100%;
  }
}
app-cards {
  display: flex;
  flex-wrap: wrap;
}

.mat-card[_ngcontent-hfq-c46] {
  border-radius: 0;
}
