<mat-card *ngIf="card" class="example-card">

  <mat-card-title>{{card.title}}</mat-card-title>
  <div class="input__show-true">
    <label>
      <input [checked]="card.completed" type='checkbox' (click)="changeStatus($event)">
      <span></span>
      Completed Status {{card.completed}}
    </label>
  </div>
  <mat-card-actions>

    <div class="mat__card_button-delete" (click)="deleteTodo()">Х</div>
    <button class="card_button-delete" mat-button (click)="deleteTodo()">Delete</button>
  </mat-card-actions>
</mat-card>

